attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
dnspython==1.16.0
flake8==3.9.2
Flask==2.0.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==1.7.1
pymongo==3.12.0
pyparsing==2.4.7
pytest==6.2.4
pytest-dotenv==0.5.2
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
six==1.16.0
toml==0.10.2
twilio==6.62.1
urllib3==1.26.6
Werkzeug==2.0.1
