absl-py==0.12.0
alembic==1.6.4
apache-airflow==2.1.0
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2
apispec==3.3.2
argcomplete==1.12.3
args==0.1.0
astunparse==1.6.3
attrs==21.2.0
autopep8==1.5.4
Babel==2.9.1
blinker==1.4
cachetools==4.2.1
cattrs==1.6.0
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
clickclick==20.10.2
clint==0.5.1
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
croniter==1.0.13
cryptography==3.4.7
defusedxml==0.7.1
dill==0.3.3
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
email-validator==1.1.2
ffmpeg==1.4
flake8==3.8.4
Flask==2.0.1
Flask-AppBuilder==3.3.0
Flask-Babel==1.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatbuffers==1.12
gast==0.4.0
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.1
gunicorn==20.1.0
h11==0.12.0
h5py==3.1.0
httpcore==0.13.3
httpx==0.18.1
idna==3.2
importlib-resources==1.5.0
inflection==0.5.1
iniconfig==1.1.1
ipython-genutils==0.2.0
iso8601==0.1.14
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-core==4.7.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.6.0
lockfile==0.12.2
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
mutagen==1.45.1
nbformat==5.1.3
numpy==1.19.5
oauthlib==3.1.0
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
opt-einsum==3.3.0
packaging==20.8
pandas==1.2.4
pendulum==2.1.2
pep8==1.7.1
pigar==0.10.0
pluggy==0.13.1
prison==0.1.3
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.9.0
PyJWT==1.7.1
pymongo==3.12.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.1
python-daemon==2.3.0
python-dateutil==2.8.1
python-dotenv==0.19.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2021.1
pytzdata==2020.1
pywatchman==1.4.1
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rich==10.2.2
rsa==4.7.2
scdl @ git+https://github.com/flyingrub/scdl@6dd6ef713bcaece9df9f8d8fd8f164862767738b
setproctitle==1.2.2
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.37.4
swagger-ui-bundle==0.0.8
tabulate==0.8.9
tenacity==6.2.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
text-unidecode==1.3
tf-estimator-nightly==2.5.0.dev2021032501
toml==0.10.2
traitlets==5.0.5
twilio==6.62.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
XML2Dict==0.2.2
xmltodict==0.12.0
youtube-dl==2020.11.29
